.modal2 {
    position: fixed;
    top: 5%;
    padding-top: 3 0px;
    left: 0;
    width: 100%;
    /* min-width: 600px; */
    height: 200vh !important;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    display: none;
    transition: all 0.9s ease-in-out;
    animation: slide 0.9s;
}

#close {
    cursor: pointer;
}

.zzz {
    z-index: 22;
    position: fixed !important;
    margin: 50px auto !important;
    bottom: -12% !important;
    left: 10% !important;
    width: 10% !important;
    display: none;
    animation: slide 3s;
}

@keyframes slide {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.modal-content {
    height: 45vh;
    width: 70vw;
    margin: 10px auto;
}

@media only screen and (max-width:768px) {
    .email {
        width: 100%;
    }
    .img1 {
        display: none;
    }
    body {
        background-color: black;
    }
    .cm {
        margin: 10px 0;
    }
    .ccb {
        display: none;
    }
}

@media (min-width:769px) and (max-width:992px) {
    .ccb {
        display: none;
    }
}